.Updates {
    text-align: center;
    margin-top: 200px;
    position: relative;
    padding-bottom: 100px;
}

.section {
    display: inline-block;
    width: 270px;
    margin-right: 20px;
    margin-top: 30px;
}

.section2 {
    display: inline-block;
    width: 270px;
    margin-right: 20px;
}

.section3 {
    display: inline-block;
    width: 270px;
    margin-right: 20px;
}

.xButton {
    position: absolute;
    left: 50%;
    cursor: pointer;
}

.section:hover,
.section2:hover,
.section3:hover {
    box-shadow: 4px 6px 4px 6px #ccc;
}

.button {
    text-align: center;
    margin: 30px auto;
    display: block;
    padding: 10px 20px;
    background-color: #00b0ff;
    color: #fff;
    border: 5px solid #00b0ff;
    text-transform: uppercase;
}

.xButton:hover {
    color: red;
}

.button:hover {
    background-color: #fff;
    color: #00b0ff;
}

@media (max-width: 600px) {
    .xButton {
        top: 42px
    }
    .section {
        margin-top: 20px;
    }
    .section2 {
        margin-top: 20px;
    }

    .section3 {
        margin-top: 20px;
    }
}