.Header {
  background-image: url("../../images/header_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  text-align: center;
}

.heading {
   
}   

.para {
    margin-top: -25px;
    margin-bottom: 140px;
}