.relative {
    position: relative;
    background-image: url("../../images/about/about_back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    
}

.content {
    margin-right: 40px;
}

.Text {
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    padding: 40px
}

.heading {
    font-family: "Montserrat Regular"
}

.para {
    text-align: left;
    font-family: "Playfair Display Italic";
}

.link {
    color: #66d0ff;
    font-family: "Montserrat Regular";
}

.linkPara {
    text-align: left;
}

@media (max-width: 1000px) {
    .container {
        display: block;
    }

    .video {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .video {
        margin-left: 10px;
    }
}