.container {
    position: relative;
    width: 100%;
    background-image: url("../../images/about/about_back.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 50%;
    background-color: #fff;
}

.Text {
    max-width: 50%;
    float: right;
    text-align: left;
    padding: 20px;
}

.heading {
    text-align: center;
}

.closeButton {
    display: block;
    margin: 0 auto;
}

.video {
    position: absolute;
    left: 54%;
    top: 90%;
    box-shadow: 25px 25px 25px #ccc;
}