.Modal {
    max-width: 70%;
    background-image: linear-gradient(140deg, #00d2ff 35%, #fff 35%);
    margin: 0 auto;
    position: relative;
    text-align: left;
    box-shadow: 6px 8px 13px 13px #ccc;
}

.content {
    display: flex;
}

.rightSide {
    max-width: 50%;
    margin-left: 50px;
}

.h4Heading {
    margin-left: 50px;
    max-width: 75%;
    font-family: "Montserrat Bold";
}

.leftSide {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.smallPictures {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    margin: 5px;
    border: 1px solid #ccc;
}

.thumbnail:hover {
    border: 2px solid #00b0ff;
}

.arrows {
    display: flex;
    position: absolute;
    left: 96%;
    top: 5%;
    background-color: #f2d800;
    color: #fff;
    padding: 10px;
}

.status {
    position: absolute;
    left: 93.5%;
    top: 10%;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    font-size: 16px;
}

.stars {
    display: flex;
    align-items: center;
    margin: -35px 50px;
}

.ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: -45px;
}

.li {
    margin: 0 5px;
    border-bottom: 3px solid #9c9c9c;
}

.price {
    display: flex;
    align-items: baseline;
    justify-items: baseline;
    font-family: "Montserrat Bold"
}

.viewBoards {
    font-family: "Montserrat Regular";
    color: #00b0ff;
}

.buy {
    padding: 10px 15px;
    margin: 0 20px;
    background-color: #00b0ff ;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .Modal {
        width: 100%;
        margin-left: 120px;
    }

    .arrows {
        top: 15px;
        left: 94%
    }

    .status {
        top: 39px;
        left: 90%;
    }

    .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 680px) {
    .leftSide {
        flex-wrap: wrap;
    }

    .smallPictures {
        display: block;
        margin-left: 30px;
    }
}

@media (max-width: 580px) {
    .Modal {
        background-size: cover;
        margin-left: 10px;
        padding-right: 95px;
    }

    .ul {
        display: inline;
    }

    .li {
        margin-top: 5px;
    }

    .arrows {
        top: -69px;
        left: 50%
    }

    .status {
        top: -45px;
        left: 50%;
    }
}