.Header {
  background: url("../../images/header_back.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: "Playfair Display Italic"
}

.heading {
  font-size: 50px;
  padding: 0 10px;
}

.para {
    font-size: 20px;
    margin-top: -25px;
    margin-bottom: 140px;
    padding-bottom: 120px;
}
