.AboutText {
    color: #f7f7f7;
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0 0 0;
    margin-bottom: -30px;
    font-family: "Montserrat Bold";
}

.App {
    position: relative;
}

@media (max-width: 700px) {
    .AboutText {
        margin: 0;
    }
}